<?xml version="1.0" encoding="UTF-8"?>
<html lang="en">
<head>
<style>


#text1{

width: 485px;
height: 500px;
max-width: 485px;
max-height: 500px;
        }
</style>
{% load staticfiles %}
<script src="{% static 'js/jquery.js' %}"  type="text/javascript"></script>
{#<script src="http://img.jb51.net/jslib/jquery/jquery.js" type="text/javascript"></script>#}
<script>
    function save() {
        this.close();//确定后关闭
    }
</script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="all">
<form id="text" name="addaction" method="post" enctype="multipart/form-data" action="http://127.0.0.1:8000/main/add_action_child/">
  {% csrf_token %}
<div id="top">
script name<input id="sname1" name="sname1"/>
</div>
<div id="a">
<textarea id="text1" name="text1" rows="3" cols="20" >
</textarea>
</div>

<div id="below">
<p>

   <input type="submit" name="Submit" value="SAVE" onclick="save()"/>
</p>

</div>

</form>
</div>

</body>
</html>