<?xml version="1.0" encoding="UTF-8"?>
<html lang="en">
<head>
    {% load staticfiles %}
{#连接外网的jquery，并连接自己的js#}
{#<script src="http://img.jb51.net/jslib/jquery/jquery.js" type="text/javascript"></script>#}
<script src="{% static 'js/jquery.js' %}"  type="text/javascript"></script>

{#<script src="{% static 'js/add_items.js' %}"  type="text/javascript"></script>#}
{#host与interface#}
<script>
    var List1={{ interfacedata | safe }};//把这个js提出去这里就会报错，不能从后台获取data1
    var interface = JSON.parse(List1);//解析JSON字符串
    $(document).ready(function(){
    $("#one").change(function() {
        oneid=$("#one").val();
        {#alert(oneid)#}
        var select = document.getElementById("two");
        var select_content=""//动态拼接select的内容
        for (var i = 0; i < interface.length; i++) {
              if (interface[i].fields.hostId == oneid) {
                    {#alert(interface[i].fields.hostId)#}
                    select_content += " <option value=" + interface[i].pk + ">" + interface[i].fields.hostIp + "</option>";
                }
              select.innerHTML = select_content;
        }
        {#alert(twoid)#}
    })
    })
</script>
{#host与itemgroup   #}
<script>
{#从数据库取值需要加上safe不然乱码报错invalid property id#}
       var List={{ data1 | safe }} ;//把这个js提出去这里就会报错，不能从后台获取data1
       var jsonobj = JSON.parse(List);//解析JSON字符串
        $(document).ready(function(){
        $("#one").change(function() {
            var checkValue=$("#one").val();//获取one的val
            var select = document.getElementById("itemgroups");
            var select_content=""//动态拼接select的内容
            for(var i = 0; i < jsonobj.length; i++){
                if (jsonobj[i].fields.hostId == checkValue) {
                    select_content += " <option value=" + jsonobj[i].pk + ">" + jsonobj[i].fields.itemgroupsName + "</option>";
                }
            }

            select.innerHTML = select_content;//innerHTML在JS是双向功能：获取对象的内容  或  向对象插入内容，这里在插入数据
        })
        })

</script>
{# value type 与date type   #}
<script>
$(document).ready(function(){
    $("#two222").hide();
    $("#one2").change(function(){
            if(this.value==3)
            {
                $("#two22").show();
                $("#two222").hide();

            }
            else {
                $("#two222").show();
                $("#two22").hide();
            }
        });
});




// unit文本
// 当选择什么的时候显示unitinput
$(function() {
    $('#one2').change(function() {
        if (this.value == '0') {
                    $('#unitinput').show();
                } else {
                    $('#unitinput').hide();
        }
    });
});


$(function() {
    $('#two22').change(function() {
        if (this.value == '3'){
                    $('#unitinput').hide();
                } else {
                    $('#unitinput').show();
        }
    });
});
</script>
{#更新#}
<script>
 $(function update() {
    urlinfo = window.location.href; //获取当前页面的url
    len = urlinfo.length;//获取url的长度
    offset = urlinfo.indexOf("?");//设置参数字符串开始的位置
    newsidinfo = urlinfo.substr(offset, len)//取出参数字符串 这里会获得类似“id=1”这样的字符串
    newsids = newsidinfo.split("=");//对获得的参数字符串按照“=”进行分割
    updateitemId = newsids[1];//得到第一个参数值hostid
    //alert(updatehostgroupsId)
     $('#itemId').val(updateitemId)
     //给后台一个判断添加还是更新的条件
     var judge=$('#itemName').val()
     if(judge.length == 0 ){
         $('#judge').val(0)
     }
    //-------------------ajax EGT------------------------
    if (updateitemId != undefined){//当界面是查看中跳转过来时执行
        $.ajax({
            type:"get",
            data: {'updateitemId':updateitemId },
            url: "http://{{ myhostip }}:8000/main/add_items/", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致,或者直接写http地址
            cache: false,
            dataType: "json",
            success: function(data){
                //返回给前端的值
                 alert("已成功！")
                //alert(data[0])
                {#//data不是一个字符串是一对象,需要转换#}
                item=JSON.stringify(data[0])//取数组的第一个字符串，相当于去掉[]

                //alert(hostgroups)
                var item2 = JSON.parse(item)//解析
                var itemName=item2['itemName']
                var itemKey=item2['itemKey']
                var hostId=item2['hostId']
                var interfaceId=item2['interfaceId']
                var valuetype=item2['valuetype']
                var datatype=item2['datatype']
                var units=item2['units']
                var applicationId=item2['applicationId']
                var description=item2['description']
                $('#itemName').val(itemName)
                $('#itemKey').val(itemKey)
                $('#one').val(hostId)
                $('#two').val(interfaceId)
                $('#one2').val(valuetype)
                $('#two22').val(datatype)
                $('#unitinput').show();
                $('#unitinput').val(units)
                $('#itemgroups').val(applicationId)
                $('#description').val(description)

                $('#judge').val(1)
                 //location.reload();//刷新当前页
                                   },
            error: function(){
                 alert("false");
                              }
        });
    }


    //-----------------------------------------------
})

</script>
    <meta charset="UTF-8">
    <title>items</title>
</head>
<body>
<form id="additems" name="additems" method="post" action="">
  {% csrf_token %}
  <p>Item name:
  <input name="itemName" id="itemName"  type="text" />
  <textarea name="itemId" id="itemId" style="display: none;"></textarea>
  <textarea name="judge" id="judge" style="display: none;"></textarea>
  </p>
  <p>Item key:
  <input name="itemKey" id="itemKey" type="text" />
  </p>
  <p>
  <p>Host:
    <label>

  <select id="one"  name="hostId" >
            {#循环取出host中的hostid和hostname  #}
            {% for host in host %}
            <option value="{{ host.hostId }}" >{{ host.hostName }}</option>
            {% endfor %}
  </select>
    </label>
  </p>
  <p>interfaceId:
    <label>
     {#循环取出interface中的interfaceid和interfacename  #}

  <select id="two" name="interfaceId" >
            {% for interface in interface %}
            <option value="{{ interface.interfaceId }}" >{{ interface.hostIp }}</option>
            {% endfor %}
  </select>

    </label>
  </p>
{#创建value和datatype的二级联动#}
  <p>Value Type:
      <select id="one2" name="valuetype"> <option value="3">Numeric(unsigned)</option> <option value="0">Numeric(float)</option> <option value="1">character</option> <option value="2">log</option> <option value="4">text</option> </select>
      Data Type:
      <select class="two2" id="two22" name="datatype"> <option value="3">Boolean</option> <option value="1">Octal</option> <option value="0">Decimal</option> <option value="2">Hexadecimal</option></select>
      <select id="two222" >  <option value="">none</option> </select>
{#      <select class="two2" >  <option value="">none</option> </select>#}
{#      <select class="two2" >  <option value="">none</option> </select>#}
{#      <select class="two2" >  <option value="">none</option> </select>#}
      Unit:
      <input type="text" id="unitinput" name='unit' style="display:none;" />


  </p>
{#itemsgroups#}
  <p>itemgroups:

{#     循环取出itemgroups中的itemgroups和itemgroups#}
  <select id="itemgroups" name="itemgroup">
        {% for itemgroup in itemgroup %}
{#            {% for host in host %}#}
{#                {% if itemgroup.hostId == host.hostId %}#}
            <option value="{{ itemgroup.itemgroupsId }}"  >{{ itemgroup.itemgroupsName }}</option>
{#                {% endif %}#}
{#            {% endfor %}#}
        {% endfor %}

  </select>
  </p>
  <p>Description:
  <input name="description" id="description" type="text" />
  </p>
  <p>
  <input type="submit" name="Submit" value="Submit" onclick="window.close()" />
  </p>
  <p>
      Added：{{ all_data }}
  </p>
</form>
</body>
</html>