<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% load staticfiles %}
<script src="{% static 'js/jquery.js' %}"  type="text/javascript"></script>
{#    <script src="http://img.jb51.net/jslib/jquery/jquery.js" type="text/javascript"></script>#}
    <title>Condition</title>
{#    传值#}
<script type="text/javascript">
        function updateParent() {

            a = $("#one option:selected").text();//获取one选择是的text
            b = $("#item option:selected").val();
            c = $("#funcyion option:selected").val();
            d = document.getElementById('n').value;//获取输入框的值
            e='{'+a+':'+b+'.'+c+d;
            condition=window.opener.document.getElementById('name')
            if (condition.value == ""){
                condition.value=e
            }else {
                condition.value=condition.value+" and "+e
            }

            {#window.opener.document.getElementById('name').value += e;//将子窗口的值传送到父窗口#}
            {#window.opener.child = null;#}
            this.close();//确定后关闭
        }
</script>
{#    host和item匹配#}
<script type="text/javascript">
{#从数据库取值需要加上safe不然乱码报错invalid property id#}
       var List={{ data1 | safe }} ;//把这个js提出去这里就会报错，不能从后台获取data1
       var jsonobj = JSON.parse(List);//解析JSON字符串
        $(document).ready(function(){
        $("#one").change(function() {
            var checkValue=$("#one").val();//获取one的val
            var select = document.getElementById("item");
            var select_content=""//动态拼接select的内容
            for(var i = 0; i< jsonobj.length; i++){
                if (jsonobj[i].fields.hostId == checkValue) {
                    select_content += " <option value=" + jsonobj[i].fields.itemKey + ">" + jsonobj[i].fields.itemName + "</option>";
                }
            }

            select.innerHTML = select_content;//innerHTML在JS是双向功能：获取对象的内容  或  向对象插入内容，这里在插入数据
        })
        })

</script>
</head>
<body>
<form>
<p>Host:
  <label>
    <select id="one" name="hostId">
            {% for host in host %}
            <option value="{{ host.hostId }}" >{{ host.hostName }}</option>
            {% endfor %}
    </select>
  </label>
</p>
<p>items:
    <label>
        <select id="item" name="itemId">

        </select>
    </label>
</p>
<p>Function:
    <select id="funcyion" >
        <option value="last()}>">Last(most recent) T value is > N</option>
        <option value="last()}=">Last(most recent) T value is = N</option>
        <option value="last()}<">Last(most recent) T value is < N</option>
    </select>
</p>
<p>N:
  <input type="text" id="n" />
</p>

<input type="button" id="update" value="Insert" onclick="updateParent()" />
</form>
{#<a>{{ data1 }}</a>#}
</body>
</html>